<launch>

	<arg name="world_name" default="$(find koalla)/worlds/population.world"/>

	<include file="$(find ardupilot_sitl_gazebo_plugin)/launch/erlecopter_spawn.launch">
		<arg name="world_name" value="$(arg world_name)"/>
	</include>
	
	<node name="koalla" pkg="koalla" type="threshold_with_reconfigure" output="screen">
		<param name="limiar" value="127" />
	</node>

</launch>
